<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>Credit Score prediction</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>

  <body>
    <div class="container contact-form">
      <div class="contact-image">
        <img src="{{ url_for('static', filename='img/bg.jpg') }}" alt="rocket_contact" />
      </div>
      <form action="/" method="post">
        <h3>Credit Score prediction</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="kpr_aktif_TIDAK" class="form-control" placeholder="kpr_aktif_TIDAK" required="required" />
            </div>
            <div class="form-group">
              <input type="text" name="kpr_aktif_YA" class="form-control" placeholder="kpr_aktif_YA" required="required" />
            </div>
            <div class="form-group">
              <input type="text" name="rata1" class="form-control" placeholder="rata_rata_overdue_0 - 30 days" required="required" />
            </div>
            <div class="form-group">
              <input type="text" name="rata2" class="form-control" placeholder="rata_rata_overdue_31 - 45 days" required="required" />
            </div>
            <div class="form-group">
              <input type="text" name="rata3" class="form-control" placeholder="rata_rata_overdue_46 - 60 days" required="required" />
            </div>
            <div class="form-group">
              <input type="text" name="rata4" class="form-control" placeholder="rata_rata_overdue_61 - 90 days" required="required" />
            </div>
            <div class="form-group">
              <input type="text" name="rata5" class="form-control" placeholder="rata_rata_overdue_> 90 days" required="required" />
            </div>
            <div class="form-group">
              <input type="text" name="pendapatan_setahun_juta" class="form-control" placeholder="pendapatan_setahun_juta" required="required" />
            </div>
            <div class="form-group">
              <input type="text" name="durasi_pinjaman_bulan" class="form-control" placeholder="durasi_pinjaman_bulan" required="required" />
            </div>
            <div class="form-group">
              <input type="text" name="jumlah_tanggungan" class="form-control" placeholder="jumlah_tanggungan" required="required" />
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
          </div>
          <div class="col-md-6">
            <h3>
              <!-- Hasil Prediksi : <br /> -->
              <br />
              Customer : <br />
              Tegar Memiliki risk rating {{ result }} Pada metode Gaussian Naive Bayes model
            </h3>
          </div>
        </div>
      </form>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
